In [1]:
#Import Dependencies
import pandas as pd
import pyodbc as odbc
import psycopg2
from sqlalchemy import create_engine
from config import etl_keys
from config import id_key
from config import server_key

In [2]:
#Check drivers
odbc.drivers()

['SQL Server',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server',
 'ODBC Driver 18 for SQL Server',
 'ODBC Driver 11 for SQL Server']

## Data Extraction and Transformation

In [3]:
#Create Connection Statement Variables
driver = '{ODBC Driver 17 for SQL Server}'
server = server_key 
database = 'AdventureWorksDW2022'
uid = id_key
pwd = etl_keys

In [4]:
#Create Connection String
conn_string = 'driver='+driver+';server='+server+';database='+database+';trusted_connection=yes'+';uid='+uid+';pwd='+pwd

#Create the Connection
conn = odbc.connect(conn_string)

In [5]:
#Convert Query into Pandas DF
customer_df = pd.read_sql_query(""" SELECT c.CustomerKey AS CustomerKey, c.FirstName AS FirstName, c.LastName AS LastName,
                                           c.FirstName + ' ' + c.LastName AS FullName, CASE c.gender WHEN 'M' THEN 'Male' WHEN 'F' THEN 'Female' END AS Gender,
                                           c.DateFirstPurchase AS DateFirstPurchase, g.City AS CustomerCity
                                    FROM DimCustomer AS c
                                    LEFT JOIN DimGeography AS g ON g.GeographyKey = c.GeographyKey
                                    ORDER BY CustomerKey ASC""", conn)

#View DF
customer_df

C:\Users\owner\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,CustomerKey,FirstName,LastName,FullName,Gender,DateFirstPurchase,CustomerCity
0,11000,Jon,Yang,Jon Yang,Male,2011-01-19,Rockhampton
1,11001,Eugene,Huang,Eugene Huang,Male,2011-01-15,Seaford
2,11002,Ruben,Torres,Ruben Torres,Male,2011-01-07,Hobart
3,11003,Christy,Zhu,Christy Zhu,Female,2010-12-29,North Ryde
4,11004,Elizabeth,Johnson,Elizabeth Johnson,Female,2011-01-23,Wollongong
...,...,...,...,...,...,...,...
18479,29479,Tommy,Tang,Tommy Tang,Male,2012-09-04,Versailles
18480,29480,Nina,Raji,Nina Raji,Female,2013-07-17,London
18481,29481,Ivan,Suri,Ivan Suri,Male,2011-08-13,Hof
18482,29482,Clayton,Zhang,Clayton Zhang,Male,2012-09-18,Saint Ouen
18483,29483,Jésus,Navarro,Jésus Navarro,Male,2012-09-09,Paris La Defense

In [6]:
#Convert Query into Pandas DF
product_df = pd.read_sql_query(""" SELECT p.ProductKey AS ProductItemCode, p.EnglishProductName AS ProductName,
                                       ps.EnglishProductSubcategoryName AS SubCategory, pc.EnglishProductCategoryName AS ProductName,
                                       p.Color AS ProductColor, p.Size AS ProductSize, p.ProductLine AS ProductLine,
                                       p.ModelName AS ProductModelName, p.EnglishDescription AS ProductDescription,
                                       ISNULL (p.Status, 'Outdated') AS ProductStatus
                                   FROM DimProduct AS p
                                   LEFT JOIN DimProductSubcategory AS ps ON ps.ProductSubcategoryKey = p.ProductSubcategoryKey
                                   LEFT JOIN DimProductCategory AS pc ON ps.ProductCategoryKey = pc.ProductCategoryKey
                                   ORDER BY p.ProductKey ASC""", conn)

#View DF
product_df

C:\Users\owner\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,ProductItemCode,ProductName,SubCategory,ProductName,ProductColor,ProductSize,ProductLine,ProductModelName,ProductDescription,ProductStatus
0,1,Adjustable Race,None,None,NA,None,None,None,None,Current
1,2,Bearing Ball,None,None,NA,None,None,None,None,Current
2,3,BB Ball Bearing,None,None,NA,None,None,None,None,Current
3,4,Headset Ball Bearings,None,None,NA,None,None,None,None,Current
4,5,Blade,None,None,NA,None,None,None,None,Current
...,...,...,...,...,...,...,...,...,...,...
601,602,ML Bottom Bracket,Bottom Brackets,Components,NA,None,None,ML Bottom Bracket,Aluminum alloy cups; large diameter spindle.,Current
602,603,HL Bottom Bracket,Bottom Brackets,Components,NA,None,None,HL Bottom Bracket,Aluminum alloy cups and a hollow axle.,Current
603,604,"Road-750 Black, 44",Road Bikes,Bikes,Black,44,R,Road-750,Entry level adult bike; offers a comfortable r...,Current
604,605,"Road-750 Black, 48",Road Bikes,Bikes,Black,48,R,Road-750,Entry level adult bike; offers a comfortable r...,Current
605,606,"Road-750 Black, 52",Road Bikes,Bikes,Black,52,R,Road-750,Entry level adult bike; offers a comfortable r...,Current

In [7]:
#Convert Query into Pandas DF
date_df = pd.read_sql_query(""" SELECT DateKey, FullDateAlternateKey AS Date, EnglishDayNameOfWeek AS Day,
                                       WeekNumberOfYear AS Week, EnglishMonthName AS Month, MonthNumberOfYear AS Month#,
                                       CalendarQuarter AS Quarter, CalendarYear AS Year
                                FROM DimDate
                                WHERE CalendarYear >= 2012 """, conn)

#View DF
date_df

C:\Users\owner\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

       DateKey        Date        Day  Week     Month  Month#  Quarter  Year
0     20120101  2012-01-01     Sunday     1   January       1        1  2012
1     20120102  2012-01-02     Monday     1   January       1        1  2012
2     20120103  2012-01-03    Tuesday     1   January       1        1  2012
3     20120104  2012-01-04  Wednesday     1   January       1        1  2012
4     20120105  2012-01-05   Thursday     1   January       1        1  2012
...        ...         ...        ...   ...       ...     ...      ...   ...
1091  20141227  2014-12-27   Saturday    52  December      12        4  2014
1092  20141228  2014-12-28     Sunday    53  December      12        4  2014
1093  20141229  2014-12-29     Monday    53  December      12        4  2014
1094  20141230  2014-12-30    Tuesday    53  December      12        4  2014
1095  20141231  2014-12-31  Wednesday    53  December      12        4  2014

[1096 rows x 8 columns]

In [8]:
#Convert Query into Pandas DF
internet_sales_df = pd.read_sql_query(""" SELECT ProductKey, OrderDateKey, DueDateKey,
                                              ShipDateKey, CustomerKey, SalesOrderNumber,
                                              SalesAmount
                                          FROM FactInternetSales
                                          WHERE LEFT (OrderDateKey, 4) >= 2012
                                          ORDER BY OrderDateKey ASC""", conn)

#View DF
internet_sales_df

C:\Users\owner\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,SalesOrderNumber,SalesAmount
0,381,20120101,20120113,20120108,16942,SO46700,1000.4375
1,375,20120101,20120113,20120108,15114,SO46701,2181.5625
2,369,20120101,20120113,20120108,15116,SO46702,2443.3500
3,337,20120101,20120113,20120108,20576,SO46703,782.9900
4,370,20120101,20120113,20120108,13059,SO46704,2443.3500
...,...,...,...,...,...,...,...
58163,485,20140128,20140209,20140204,15868,SO75122,21.9800
58164,225,20140128,20140209,20140204,15868,SO75122,8.9900
58165,485,20140128,20140209,20140204,18759,SO75123,21.9800
58166,486,20140128,20140209,20140204,18759,SO75123,159.0000
58167,225,20140128,20140209,20140204,18759,SO75123,8.9900

# Load the Data to Database

In [9]:
#Create SQLAlchemy Engine
engine = create_engine('postgresql://' + uid + ':' + pwd + '@localhost/AdventureWorksETL')

#Display Engine info
engine

Engine(postgresql://etl:***@localhost/AdventureWorksETL)

In [10]:
#Load Pandas Dataframes to PgAdmin

#Load customer_df to PgAdmin
customer_df.to_sql('Customer Table', engine, if_exists = 'append', index = False)

#Load customer_df to PgAdmin
product_df.to_sql('Product Table', engine, if_exists = 'append', index = False)

#Load customer_df to PgAdmin
date_df.to_sql('Date Table', engine, if_exists = 'append', index = False)

#Load customer_df to PgAdmin
internet_sales_df.to_sql('Internet Sales Table', engine, if_exists = 'append', index = False)

168

In [11]:
#Close Connection
conn.close()

#Dispose Engine
engine.dispose()